@model SleeperCell.Models.ProductViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details | @Html.DisplayFor(model => model.Name) </h2>


<div>
    <div class="box-body">

        <div class="col-md-6 ">
            <div class="box box-danger">
                <div class="box-header">
                    <h3 class="box-title">Product Detail</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Barcode)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Barcode)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Description)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.UnitCost)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.UnitCost)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.UnitPrice)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.UnitPrice)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.QuantityInHand)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.QuantityInHand)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.CategoryName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CategoryName)
                        </dd>

                        <dt>
                            Add By
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.UserName)
                        </dd>

                    </dl>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <p>
                        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                        @Html.ActionLink("Back to List", "Index")
                    </p>
                </div>
            </div>
        </div>
    </div>
   </div> 
