@model IEnumerable<SleeperCell.Models.ProductViewModel>

    @{
    ViewBag.Title = "Products";
    }

    <h2>Product List</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Barcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantityInHand)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Barcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.Raw(item.QuantityInHand ?? 0)
            </td>

            <td>
            <div class="dropdown">
                <button class="btn btn-info text-black dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    More <span class="caret"></span>
                </button>
                <ul class="dropdown-menu bg-aqua" aria-labelledby="dropdownMenuButton">
                    <li class="dropdown-item text-black list-group-item" href="#">@Html.ActionLink("Edit", "Edit", new { id = item.Id })</li>
                    <li class="dropdown-item text-black list-group-item" href="#">@Html.ActionLink("Details", "Details", new { id = item.Id })</li>
                    <li class="dropdown-item text-black list-group-item" href="#">@Html.ActionLink("Delete", "Delete", new { id = item.Id })</li>
                </ul>

            </div>
                </td>
        </tr>
        }

    </table>
