@model IEnumerable<SleeperCell.Models.SaleOrderViewModel>

@{
    ViewBag.Title = "Index";
}

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Sale | @Html.ActionLink("Create New", "Create")</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table class="table table-bordered table-striped" id="productTable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CustomerId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreationDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SubTotal)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Discount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Total)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CashReceived)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CashReturn)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreationDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubTotal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Discount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Total)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CashReceived)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CashReturn)
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default">Action</button>
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Details", "Details", new { id = item.Id })</li>
                            </ul>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#productTable').DataTable();
        });

    </script>
}
